<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form-friend</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/output.css" rel="stylesheet" />
  </head>

  <body class="">
    <div class="navbar">
      <div class="navbar-start">
        <a href="#"><img class="" src="https://res.cloudinary.com/davidhenrydev/image/upload/c_scale,w_200/v1664851533/FormFriend/cover_npeqnk.png" alt="" /></a>
      </div>

      <div class="navbar-end">
        <% if( path != '/' && path != '/signup') { %>
        <span class="text-md px-2 font-bold"><%= user.userName %></span>
        <img class="mr-2 h-6 w-6 rounded-full sm:h-8 sm:w-8" src="https://img.icons8.com/color/48/000000/test-account.png" alt="" />

        <div class="dropdown-end dropdown mr-2">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </label>
          <ul tabindex="0" class="dropdown-content menu rounded-box menu-compact mt-3 w-52 bg-base-100 p-2 shadow">
            <li>
              <a href="/profile" class="text-2xl">Profile / Post</a>
            </li>
            <li><a href="/feed" class="text-2xl">Feed</a></li>
            <li><a href="/logout" class="text-2xl">Logout</a></li>
          </ul>
        </div>
        <% } else { %>
        <span><a href="/" class="px-4 text-xl hover:opacity-80">Login</a></span>
        <span><a href="/signup" class="px-4 text-xl hover:opacity-80">Signup</a></span>
        <% } %>
      </div>
    </div>
  </body>
</html>
