<%- include('partials/header') -%>
<div class="container mx-auto flex flex-col justify-start bg-customSecondary px-1 text-customText shadow-inner lg:w-4/6 xl:w-1/2">
  <h1 class="mt-20 mb-20 border-b pb-5 text-center text-2xl">What others are asking for help with</h1>
  <div class="flex flex-col items-center justify-center gap-y-24"><%- include('partials/feed') -%></div>
</div>
<%- include('partials/footer') -%>
